body{
    background-image: url("Saved files/dog.jpg.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-size: medium;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

#box1 {
    position: static;
    background-color: rebeccapurple;
    /* this is the default position top,right,left,bottom and z index have no effect*/
}


#box2 {
    position: relative;
    top: 20px;
    left: 30px;
    background-color: red;
    /* this is relative to itself top,right,bottom,left and z index work*/
    z-index: 1;
    /*overlaping elements with larger z index cover those whith smaller one like =1 is gteater than -1*/
    background-image: url("https://th.bing.com/th/id/OIP.avb9nDfw3kq7NOoP0grM4wHaEK?pid=ImgDet&rs=1");
    background-size: cover;
}


#box3 {

    position: absolute;
    background-color: blue;
    top: 10px;
    left: 30px;
    /* this is positoned relatively closest to its non static ansistors (removed from the flow)*/
}

#box4 {

    position: fixed;
    top: 0px;
    left: 0px;
    border: 2px solid black;
    height: 30px;
    width: 1900px;
    /* positioned related to browser (removes from the flow)*/
}

#box5 {

    position: relative;
    background-color: black;
    color: white;
    z-index: -1;
}


#box6 {
    position: sticky;
    top: 200px;
    left: 40px;
    /*position based on user scroll position*/
}