body {
    text-align: center;
    
}

.my-img{
    height: 70px;
}
.my-button{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: rgb(209, 248, 209);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#game{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(189, 189, 233);
    border-radius: 12px;
}

#user-move{
    color: rgb(33, 129, 4);
}

#comp-move{
    color: rgb(161, 5, 5);
}

#result{
    color: rgb(3, 3, 151);
}

