*{
    margin: 0;
    padding: 0;
}

#nav{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    color: rgb(245, 143, 9);
    font-size: 25px;
    margin-left: 10px;
}

.h-div{
    color: white;
    text-decoration: none;
    margin: 80px;
    transition: all 100ms ease-in 80ms;
}

.h-div:hover{
    border: 2px solid white;
}

#search-bar{
  height: 50px;
    width: 45%;
    display: flex;
    align-items: center;
    margin-right: 100px;
    margin-left: 90px;
}

#search-input{
    height: 50%;
    width: 92%;
    transition: all 100ms ease-in-out 100ms;
}

#search-input:hover{
    border: 2px solid rgb(245, 143, 9);
}

#search-butt{
    background-color: rgb(245, 143, 9);
    color: aliceblue;
    margin-left: 2px;
    height: 56%;
    width: 8%;
    padding: 5px;
    transition: all 100ms ease-in-out 100ms;
}

#search-butt:hover{
    background-color: rgb(247, 194, 23);
    border: 2px solid white;
    color: black;
}